<div class="flex justify-center align-items-center flex-column gap-6 mt-6">

  <div class="flex flex-column align-items-center gap-2">
    <p class="text-3xl font-bold m-0">FitCenter App</p>
    <p class="text-lg m-0">v1.0.1 Alpha</p>
  </div>

  <div class="flex align-items-center gap-2">
    <span>Dark Mode</span>
    <p-toggleSwitch
      [(ngModel)]="isDarkMode"
      (onChange)="toggleDarkMode()"
    />
  </div>

  <p-button
    styleClass="w-12rem"
    label="Logout"
    severity="danger"
    (click)="logout()"
  />

</div>
