<p-tabs [value]="router.url">
  <p-tablist [pt]="{ tabList: { class: 'justify-content-around' } }">
    <p-tab
      value="/home"
      disabled="true"
      [pt]="{ root: { class: 'pl-2 pr-0' } }"
    >
      <p class="m-0">FitCenter</p>
    </p-tab>
    <p-tab
      value="/calendar"
      [routerLink]="['/calendar']"
    >
      <i class="pi pi-calendar mr-2"></i>
    </p-tab>
    <p-tab
      value="/list"
      [routerLink]="['/list']"
    >
      <i class="pi pi-list mr-2"></i>
    </p-tab>
    <p-tab
      value="/admin"
      [routerLink]="['/admin/agenda']"
    >
      <i class="pi pi-cog mr-2"></i>
    </p-tab>
    <p-tab
      value="/user"
      [routerLink]="['/user']"
    >
      <i class="pi pi-user mr-2"></i>
    </p-tab>
  </p-tablist>
</p-tabs>

<router-outlet></router-outlet>
