<p-tabs [value]="router.url">
  <p-tablist [pt]="{ tabList: { class: 'justify-content-around' } }">
    <p-tab
      value="/home"
      [pt]="{ root: { class: 'pl-2 pr-0 text-500' } }"
      (click)="showAbout.set(true)"
    >
      <p class="m-0">FitCenter</p>
    </p-tab>
    <p-tab
      value="/calendar"
      [routerLink]="['/calendar']"
    >
      <i class="pi pi-calendar mr-2"></i>
    </p-tab>
    <p-tab
      value="/list"
      [routerLink]="['/list']"
    >
      <i class="pi pi-list mr-2"></i>
    </p-tab>
    @if (user()?.role === 'admin') {
    <p-tab
      value="/admin"
      [routerLink]="['/admin/agenda']"
    >
      <i class="pi pi-cog mr-2"></i>
    </p-tab>
    }
    <p-tab
      value="/user"
      [routerLink]="['/user']"
    >
      <i class="pi pi-user mr-2"></i>
    </p-tab>
  </p-tablist>
</p-tabs>

<router-outlet></router-outlet>

<p-dialog
  [visible]="showAbout()"
  (visibleChange)="showAbout.set($event)"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
  [closable]="true"
  [closeOnEscape]="true"
  [style]="{ width: '20rem' }"
  [pt]="{headerActions: {class: 'hidden'}}"
>
  <div class="flex flex-column align-items-center gap-4 py-4">
    <div
      class="w-5rem h-5rem border-circle bg-primary-50 flex align-items-center justify-content-center"
    >
      <img
        src="./icons/icon-512x512.png"
        alt="FitCenter"
        class="w-full"
      />
    </div>
    <div class="text-center">
      <h2 class="m-0 font-bold text-2xl text-900 line-height-1">FitCenter</h2>
      <p class="text-600 mt-2 font-medium">Versión {{ version() }}</p>
    </div>
    <div class="w-full pt-3 text-center">
      <p class="text-500 text-sm m-0">App no oficial de FitCenter para la
        coordinacion de las clases y los alumnos.</p>
    </div>
  </div>
</p-dialog>
