/* View Transitions API */
::view-transition-old(page) {
  animation: fade-out 300ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

::view-transition-new(page) {
  animation: fade-in 300ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
